.navbar {
  position: sticky;
  top: 0;
  z-index: 50;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 80px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);

  border-bottom: 1px solid #eef2ff;
}

/* LOGO */
.logo {
  font-size: 22px;
  font-weight: 800;
  letter-spacing: -0.5px;
  color: #4f46e5;
}

/* RIGHT */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 26px;
}

/* LINKS */
.nav-link {
  font-size: 14px;
  font-weight: 500;
  color: #475569;
  position: relative;
  transition: color 0.2s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #4f46e5;
  transition: width 0.25s ease;
}

.nav-link:hover {
  color: #4f46e5;
}

.nav-link:hover::after {
  width: 100%;
}

/* BUTTON */
.nav-btn {
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.25s ease;
}

.nav-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 25px rgba(79, 70, 229, 0.35);
}
